@model IEnumerable<MyCompetence.domain.Entities.Skill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomEmploye)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeSkill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NiveauSkill)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomEmploye)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeSkill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NiveauSkill)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SkillId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SkillId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SkillId })
            </td>
        </tr>
    }

</table>

