@model MyTimesheet.Web.Models.Tache

@{
    ViewBag.Title = "CreateP";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CreateP</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Ajoute tache au projet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.from)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.to)
        </dd>
    </dl>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <div class="form-group">
        @Html.LabelFor(model => model.Projet_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*Html.EditorFor(model => model.projets_Projet_ID, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownList("Projet_ID", (SelectList)ViewData["ProjetList"])
            @Html.ValidationMessageFor(model => model.projets, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ajoute" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
