@model IEnumerable<MyCompetence.web.Models.Fichemetier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompetenceRequis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NiveauRequis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompetenceRequis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NiveauRequis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FicheMetierId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FicheMetierId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FicheMetierId })
        </td>
    </tr>
}

</table>
